/* CSS declarations go here */
.navbar { background-color: white; }
.brand { font-size: 3em; font-family: 'jubilat'; font-weight: 500;  color: #147FD7 }
.brandMobile { font-size: 2em; font-family: 'jubilat'; font-weight: 500;  color: #147FD7 }
.brandMobile:visited { color: #147FD7 }
a:link { text-decoration: none;}
a:hover { text-decoration: none;}
.navbar-inner{ padding: 1em 0em 0.8em;}
body{background-color: #f3f3f3;}

*{
  font-family: 'proxima-nova', 'Proxima Nova', sans-serif;
}

.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

span {
  color: #000
}

p{margin: 0;}
.yak p{
  font-size: 18px;
  color: #000;
  font-weight: 50;
}
a.yakPost {
  color: #147FD7;
}

a.yakPost:hover{
  color: #147FD7;
}

.yak{
  margin-bottom: 10px;
}

.yak-form{
  margin-bottom: 10px;
}

#main {
  position: relative;
}

.center: {
  margin: 0 auto;
}
.yak .yak-content {
  padding: 5px;
}

.button-list {
  display: list-item;
}

.together {
  display: inline-block;
}

.break-el{
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

.pagination-centered{text-align:center;}

.form-style .comment {
  margin: 30px 0px 0px;
}

.btn-primary {
  background-color: #147FD7
}
.fa {
  color: #147FD7
}

.comment-input {
  margin-bottom: 10px;
}

.comment h4 {
  font-weight: bold;
}

.yaks h3 {
  text-align: center;
  margin: 5px 0px 25px;
}

.yaksSubmit h3 {
  text-align: center;
  margin: 5px 0px 25px;
}

.poster div {
  margin: -5px 0px 0px 10px;
}

.fakeBtn {
  color: #545454;
  padding: 0.35rem 1.4rem;
  margin-bottom: 0;
  line-height: -2rem;
  font-size: 12px;
}

.btn {
  font-size: 12px
}

.sm-fakeBtn {
  color: #bdbdbd;
  margin-bottom: 0;
  font-size: 10px;
}

.vote {
  opacity: 0.60
}

@media (min-width: 1300px) {
  .container{
    width: 55%;
  }
  .form-style .container {
    width: 45%;
  }
}

@media (min-width: 1100px) and (max-width: 1299px) {
  .container{
    width: 60%;
  }
  .form-style .container {
    width: 50%;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .container{
    width: 70%;
  }
  .form-style .container {
    width: 55%;
  }

}

@media (min-width: 650px) and (max-width: 949px) {
  .container{
    width: 80%;
  }
  .form-style .container {
    width: 70%;
  }
}
